

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;

}


/* NavbarTop section with image & paragraph text */
.navtop-img {
  display: flex;
  width: 100px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}

.left {
  display: flex;
  gap: 20px;
}

.left a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.navtop-text {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 500;
  color: #585858;
  margin: 0 auto;
  padding-top: 0.3rem;
  padding-bottom: 1.5rem;
}

/* Navbar menu design */
nav li {
  list-style: none;
  margin: 0 1rem;
}

nav {
  display: flex;
  gap: 200px;
  align-items: center;
  background-color: #2D5D89;
  padding: 1rem;
  font-family: 'Archivo Narrow', sans-serif, Arial, Helvetica, sans-serif;
  max-height: 20px;

}


/* Navbar links design */

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
 
}

.nav-links li {
  margin: 0 1rem; 
}

.nav-links li a {
  text-decoration: none;

  &:hover {
    color: #dedede;
  }

}

/* Login button design */
.login-button {
  background-color: white;
  border-radius: 5px;
  padding: 2px 15px;
}

.login-button {
  color: #2D5D89;


  &:hover {
    color: #dedede;
  }
}









