body {
  background-color: white;
  color: black;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* NavbarTop section with image & paragraph text */
.navtop-img {
  display: flex;
  width: 100px;
  height: auto;
  margin: 0 auto;
  padding: 0.8rem;
}

.navtop-text {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: medium;
  color: #585858;
  margin: 0 auto;
  padding-top: 0.3rem;
  padding-bottom: 1.5rem;
}

/* Navbar menu design */
nav li {
  list-style: none;
  margin: 0 1rem;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d5d89;
  padding: 1rem;
  font-family: "Archivo Narrow", sans-serif, Arial, Helvetica, sans-serif;
  font-size: 18px;
  max-height: 20px;
}

/* Navbar links design */

.nav-links {
  display: flex;
  text-decoration: none;
}

.nav-links li a {
  display: flex;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #dedede;
  }
}

/* Login button design */
.login-button a {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding: 2px 10px;
  color: #2d5d89 !important;

  &:hover {
    color: white !important;
    background-color: #dedede;
  }
}

.read-the-docs {
  color: #888;
}

.mobile-nav {
  background-color: #2D5D89;
  padding: 20px;
  margin-top: -30px;
  box-sizing: border-box;
  text-align: center;
}

.mobile-nav-links {
  padding-left: 0px;
}

.mobile-nav-links li {
  margin-bottom: 10px;
}

.mobile-nav a {
  color: white;
}

.mobile-login-button {
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.mobile-login-button a {
  color: #2D5D89;
}

.mobile-nav-bar {
  background-color: #2D5D89;
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 0px;
  text-align: right;

#login-form {
  width: 500px;
}

.input {
  display: block;
  width: 500px;
  background-color: white;
  color: #2d5c88;
  border: 2px solid #2d5c88;
  padding: 7px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.remember {
  margin: 5px 0 20px;
  text-align: left;
}

.button {
  background-color: #2d5c88;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  display: block;
  width: 500px;
  margin-bottom: 5px;  
}

.button--white {
  background-color: white;
  border: 2px solid #2d5c88;
  color: #2d5c88;
}
